.selectAdress {
  font-size: 29px;
}

.select-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  padding: 10px 3%;
  font-size: 27px;

  .select-location-box {
    min-width: 150px;
    padding: 5px;
    border-right: 2px solid #aaa;
    position: relative;
  }

  .select-location-box::after {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.21333rem solid transparent;
    border-top-color: rgb(75, 73, 73);
    display: block;
    position: absolute;
    top: 21px;
    right: 8px;
  }

  .select-content {
    flex: 1;
    margin-left: 15px;
  }
}