.v-navbar-bg{
    background: linear-gradient(to bottom, #ffaf0e,#ffcb0b);
}

.custom .at-nav-bar__title{
    font-weight: bold;
}

.transparent{
    background-color: transparent;
    margin-bottom: 13px;
}


// .at-nav-bar {
//   align-items: flex-end;
// }